@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
  margin: 10px 20px;
}

.logo {
  font-size: 32px;
}
.formSuggestions {
  display: flex;
  flex-direction: column;
  z-index: 99;
}
.suggestionsList {
  cursor: pointer;
  background-color: white;
  z-index: 98;
}
.smile {
  font-size: 2rem;
}
.site-card-wrapper {
  margin: 0 20px;
}
.custom-tooltip {
  background-color: #fff;
  padding: 5px 10px;
  filter: drop-shadow(0 0 0.75rem rgb(196, 196, 196));
}

.custom-tooltip img {
  display: block;
  margin: auto;
}
.pmData,
.currentWeather {
  display: flex;
}
.pmDetails {
  display: flex;
  flex-direction: column;
}
.pmDetailsIcon {
  margin-right: 10px;
}
.country {
  margin-bottom: 0px !important;
}